@model Bookstore.Models.BookDetails

@{
    ViewBag.Title = "Insertbook";
}

<h2>Insertbook</h2>

@using (Html.BeginForm("Insertbook","Books",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>BookDetails</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.BookId)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Dropdowncategories, "CategoryID", "CategoryName", Model.CategoryId), "select-category", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.Label("Book Photo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           
            @Html.TextBoxFor(m => m.bookupldimg, new { @class = "form-control", @type = "file", @placeholder = "Book Photo " })
            @Html.HiddenFor(m => m.ImagePath)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PublishedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PublishedDate,"{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "pubdate" })
            @*@Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "dateOfBirth", @placeholder = "dd-mm-yyyy" })*@
            @Html.ValidationMessageFor(model => model.PublishedDate, "", new { @class = "text-danger", @id = "pubdateval" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StockQuality, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StockQuality, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StockQuality, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Country", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.countryid,
           new SelectList(Model.Countriesmstlst, "CountryID", "CountryName"), "select-Country", new { @class = "form-control", @id = "concmb" })
            @Html.ValidationMessageFor(m => m.countryid, "", new {@class="text-danger",@id="concmbval"})
        </div>
    </div>
    <div class="form-group">
        @Html.Label("State", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Stateid,
            new SelectList(Model.Statemstlst, "StateID", "State", Model.Stateid), "select-state", new { @class = "form-control", @id = "statecmb" })
            @Html.ValidationMessageFor(m => m.countryid, "", new { @class = "text-danger", @id = "statecmbval" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>


}

<div>
    @Html.ActionLink( "Books", "BookPage")
</div>



